
.head-div{
    margin-left: 0px;
    margin-right: 0px;
}
.row{
    padding-bottom: 50px;
}

.title{
    font-size: 40px;
  
}
.blog-content{
    padding-left: 2px;
    padding-right: 2px;
}

@media screen and (min-width: 300px) and (max-width:700px) { 
   .blog-pic{
       background-repeat: no-repeat;
       height: 302px;
       background-size: 100%;
       margin-bottom: 0px;
   }
    .title{
        font-size: 36px;
    }
    .blog-content{
        padding-left: 17px;
        padding-right: 17px;
    }
    .content-pic{
        background-size: 100%;
        background-repeat: no-repeat;
        height: 240px;
    }
}
  
.profile-button_1{
    border:none;
    width: 260px;
    height: 45px;
    background-color: rgb(0,167,157);
    color: rgb(255, 255, 255);
    border-radius: 13px;
    font-weight: 800;font-size: 17px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    margin-right: 20px;

  }
  .profile-button_2{
    border:none;
    width: 260px;
    height: 45px;
    background-color: rgb(0,167,157);
    color: rgb(255, 255, 255);
    border-radius: 13px;
    font-weight: 800;font-size: 17px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    cursor: pointer;
  }
  
  
  .profile-button:hover{
    border:1px solid #fff;
    background-color: #55bfba;
    color: #fff;
  }

  .p{
      line-height: 200%;
      
  }

 .card-body{
    margin-left: 30px;
 }