

<div class="container" style="padding-top: 90px;">

    <div class="row col-md-11">
       <h1 style="font-weight:600;" class="title">{{title}}</h1>
    </div>
    
    <div class="row">
  
       <div class="col-md-9">
  
          <div class="row">
            <div class="col-md-10"><p style="font-size:14px;font-weight:800;">{{author}}  |  {{date}}</p></div>
          </div>
  
          <div>
              <img class="content-pic" [src]="imageUrl">
          </div>
  
            <div class="row col-md-10 social-div" style="margin-top:25px;margin-bottom:25px;">
                <div id="fb-root"></div>
               
              <div id="fb-share" style="background-color:#4267b2;text-align:center;margin-right:0px;"><div style="padding-top:7px;" class="fb-share-button social-button" data-href=" https://www.careernaksha.com/blogs/:blog_url" data-layout="button_count" data-size="large" data-mobile-iframe="false"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fab fa-facebook" style="text-decoration:none; font-size: 15px; color:#ffffff">  Share</a></div></div>

                      
              <div class="social-div1"><a class="twitter-share-button"
                href="https://twitter.com/intent/tweet?url=https://www.careernaksha.com/blogs/:blog_url"
                data-size="large">
              <button style="background-color:  #00aced; font-size: 15px;" class="social-button"><i class="fab fa-twitter"></i> twitter</button></a></div>
              
              <div class="social-div1"><a href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.careernaksha.com/blogs/:blog_url"><button style="background-color:  #328ce0; font-size: 15px;" class="social-button"><i class="fab fa-linkedin"></i>  linkedin</button></a></div>
               <div class="col-md-2"></div>
            </div>
           
           
  
          <div class="row blog-content">
            <markdown [data]="blogsubDetail"  ></markdown>
            <div class="col-md-3"></div>
          </div>
  
       </div>
       <div class="col-md-4"></div>
    </div>
   
  </div> 
  
  
  
  
  
  
  