

<div class="container gallery-container Events">
  <div class="tz-gallery">
    <div class="row">
      
      <div class="col-sm-6 col-md-4" *ngFor="let careermedia of careermedias">
        <div class="column">
          <div class="thumbnail">
            <a class="lightbox">
              <img src="{{careermedia.cm_image}}" alt="Careernskah News" width="100%" height="auto">
            </a>
            <div class="caption">
              <h4>{{careermedia["cm_title"]}}</h4>
              <p><markdown>{{careermedia["cm_detail"]}}</markdown></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    