
<div class="row login-wrapper">

    <div class="col-md-3"></div>
    <div class="col-md-6" align="center" style="padding-top:100px;padding-bottom:100px;">
 
     <div class="row" align="center" style="width:413px;height:650px;background-color:#2eb8b8;margin-top:0px;padding-left:20px;padding-right:20px;padding-top:40px;padding-bottom:40px;">
         
         
         
        <p style="color:#fff;font-weight:800;font-size:27px;margin-left:62px;">Join CareerNaksha</p>
         <form class="form" align="center" style="height:443px;margin-top:-10px;">
            <div class="form-group">
                <input type="text" class="form-control input-field rounded-0" placeholder="Name" name="email" required>
              </div>
              <div class="form-group">
                <input type="text" class="form-control input-field rounded-0" placeholder="Mobile Number" name="phone" maxlength="10" required>
              </div>
             <div class="form-group">
               <input type="text" class="form-control input-field rounded-0" placeholder="Email" [(ngModel)]="registerUserData.email" name="email"required>
             </div>
             <div class="form-group">
               <input type="password" class="form-control input-field rounded-0" placeholder="Password" [(ngModel)]="registerUserData.password" name="password" required>
             </div>
             <div class="form-group">
                <input type="text" class="form-control input-field rounded-0" placeholder="Confirm Password" name="email" required>
              </div>
             <button id="submit" type="button" (click)="registerUser()" style="margin-top:25px;;width:373px;height:55px;font-weight:500;font-size:25px;border:1px solid #fff;background:none;color:#fff;" class="btn">Create Account</button>
             
            

         </form>
         <a href="/recoverpwd" class="forgot">Forgot Password ?</a>


         <div class="last">

           
            <p style="color:#fff;font-weight:500;font-weight:600;">Or</p>
            <a href="/login" style="font-size:20px;font-weight:700;cursor:pointer;color:#fff; text-decoration: none; ">Login to your account</a>
         

         </div>
     </div>
 
    </div>
    <div class="col-md-1"></div>
 
 </div>
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 