<div class="container gallery-container Events">
  <div class="tz-gallery">
    <div class="row">
      
      
      <div class="col-sm-6 col-md-4">
        <div class="column">
            <div class="thumbnail" style="width: 330px;">
           
              <div class="caption">
                <p>L & T partnering with Careernaksha to help few Schools on the outskirts of Surat get a taste of interactive sessions on importance of effective communication, overcoming stage fright and hence developing a strong personality.</p>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>