<div class="container gallery-container Events">
    <div class="tz-gallery">  
        <div class="row"> 
       

            <div class="col-sm-6 col-md-4" *ngFor="let youthevent of youthevents">
                <div class="column">
                    <div class="thumbnail">
                        <a class="lightbox"  >
                            <img src="{{youthevent.ye_image}}" alt="Rotary Club" width="100%" height="auto">
                        </a> 
                        <div class="caption">   
                            <h3>{{youthevent["ye_title"]}}</h3>
                            <p>{{youthevent["ye_detail"]}}</p>
                        </div>
                    </div>
                </div>
            </div>
            
         

        </div>
     </div>
</div>