<div class="container gallery-container Events">
  <div class="tz-gallery">
    <div class="row">
      
      <div class="col-sm-6 col-md-4" *ngFor="let projectdisha of projectdishas">
        <div class="column" >
            <div class="thumbnail" style="width: 300px;">
              <a class="lightbox">
                <img src="{{projectdisha.pd_image}}" alt="Sri Gangabai High School" width="100%" height="auto">
              </a>
              <div class="caption">
                <h5>{{projectdisha["pd_title"]}}</h5>
               <p><markdown>{{projectdisha["pd_detail"]}}</markdown></p>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>