.article{
width: auto;  
margin: 0 auto;
padding-top: 60px;
  
}
img{
  height: 250px;
}

.article-image{
  width: 70px;
  height: 70px;
}

.title{
  font-size: 40px;
}

.content-pic{
  background-position: center; 
  width: 100%;
  -moz-background-size: contain;
  -webkit-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  height: 280px;
  background-repeat: no-repeat;


}

.head-div{
  margin-left: 0px;
  margin-right: 0px;
}

.social-div{
  margin-right: 0px;
  margin-left: 0px;
  padding-right: px;
  padding-left: 0px;

}
.social-button{
  width: 100%;background: none;
  border: none;
  width: 150px;
  height: 38px;
  font-size:13px;
  font-weight:700;
  color:#fff;
  cursor: pointer;   
}
.read-btn{
  background-color: rgb(0,167,157);
  color: #fff;
  font-weight: 700;
  width: 280px;
  height: 42px;
  font-size: 23px;
  border: none;
  border-radius: 27px;
  cursor: pointer;
}

.blog-content{
  padding-left: 2px;
  padding-right: 2px;
 
}

@media screen and (min-width: 300px) and (max-width:700px) { 


  .title{
      font-size: 36px;
  }
  .blog-content{
      padding-left: 17px;
      padding-right: 17px;
  }
  .content-pic{
      background-size: 100%;
      background-repeat: no-repeat;
      height: auto;
      width: auto;
  }
}



/*
.head-div{
  margin-left: 0px;
  margin-right: 0px;
}
.content-pic{
  background-image: url("https://d2t0yxygbqzqe9.cloudfront.net/assets/images/homepage/blog66.jpeg");
  background-position: center; 
  width: 100%;
  -moz-background-size: contain;
  -webkit-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  height: 360px;
 
  margin-bottom: 15px;
  background-repeat:no-repeat;   

}

.content-img{
  float: left;
  width: 33.33%;
  padding: 5px;
  
  -moz-background-size: contain;
  -webkit-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  height: auto;
  margin-bottom: 15px;
  background-repeat:no-repeat;   

}
.social-div{
  margin-right: 0px;
  margin-left: 0px;
  padding-right: px;
  padding-left: 0px;

}
.social-button{
  width: 100%;background: none;
  border: none;
  width: 155px;
  height: 38px;
  font-size:13px;
  font-weight:700;
  color:#fff;
  cursor: pointer;   
}
.read-btn{
  background-color: rgb(0,167,157);
  color: #fff;
  font-weight: 700;
  width: 280px;
  height: 42px;
  font-size: 23px;
  border: none;
  border-radius: 27px;
  cursor: pointer;
}

.title{
  font-size: 50px;
}
.blog-content{
  padding-left: 2px;
  padding-right: 2px;
}
.paranum1{font-size:17px;font-weight:500;color:rgb(0,167,157);}

@media screen and (min-width: 300px) and (max-width:700px) { 
 .blog-pic{
     background-repeat: no-repeat;
     height: 302px;
     background-size: 100%;
     margin-bottom: 0px;
 }
  .title{
      font-size: 36px;
  }
  .blog-content{
      padding-left: 17px;
      padding-right: 17px;
  }
}


* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

*/