<div class="container">
    <div style="text-align:center;height:85px;width:100%;padding-top:20px;padding-bottom:20px;margin-top:85px;">
      <h1 style="color:rgb(0,167,157);font-weight:800;font-size:25px;"> University or College Admissions</h1>
    </div>
    
    <div class="container">
     
      <ul class="nav nav-tabs mb-3 justify-content-center" id="pills-tab" role="tablist" >
        <li class="nav-item">
          <a class="nav-link active" id="pills-home-tab" data-toggle="tab" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true" ><img  src="{{cdnHost}}/assets/images/product/worldwide.png" style="height: 60px; width: 60px; margin-left: 30px;"><br>Study In Abroad</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-profile-tab" data-toggle="tab" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false"><img  src="{{cdnHost}}/assets/images/product/maps-and-flags.png" style="height: 60px; width: 60px; margin-left: 30px;"><br>Study in India</a>
        </li> 
      </ul>
      <div class="tab-content" id="pills-tabContent" >
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="cImages img-fluid" src="{{cdnHost}}/assets/images/product/study_aboard1.jpg" alt="first">
                    </div>
                    <div class="carousel-item">
                        <img  class="cImages img-fluid" src="{{cdnHost}}/assets/images/product/study_aboard2.jpg" alt="Chicago">
                    </div>
                    
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                    </a>
              </div>
    
        <div>
            <div style="text-align: center;" >
                <span><hr></span><h2>Study <span class="Add">Abroad</span></h2><span><hr></span>
            </div>
    
    
    
            <div class="whycontainer WhyUsDiv ">
                 
                    <div class=" row ">
                        <h3 class="Add">Counselling Services</h3>
                    </div>
                    
                    <div class="  row ">
                        
                        <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 order-lg-1 order-sm-2 order-xs-2 order-md-2" >
                    
    
                            <ul class="list-group">
                            
                            <li class="list-group-item list-group-item-success text-dark "><strong><em> Career Profiling Test & Guidance:</em></strong> Take find and confirm your career path, course & degree choices. Discuss results with one of our expert career counsellor to make the right choice..
                            </li>  
                            <li class="list-group-item list-group-item-success  text-dark "><strong><em>University, Degree & Course Selection:</em></strong> Based on your profile one of our expert admission counsellor will help you prepare a personalized target list based on your profile and compatible fit based on budget.
                            </li>
                            <li class="list-group-item list-group-item-success text-dark "> <strong><em> Documentation with Profile Building:</em></strong> A dedicated admissions counsellor will help you identify the documentation needs, review and improve your 1-Statement of Purpose (SOP), 2-Letter of Reference (LOR) and 1-Resume. .
                            </li> 
                            <li class="list-group-item list-group-item-success text-dark "><strong><em>	Application Assistance:</em></strong> A dedicated counsellor will help you prepare and track your applications and scholarships. We also offer a common application that can also be made to multiple colleges/universities across the globe.
                            </li>
                            <li class="list-group-item list-group-item-success text-dark "><strong><em> Additional Visa, Loan, Forex, Transportation Support:</em></strong> A dedicated counsellor will also help you with your visa application, visa interview and documentation. And any educational loan assistance forex needs, travel & accommodation you can with us.
                            </li>					
                            </ul>
    
                        </div>
            
    
                        <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 order-lg-2 order-sm-1 order-xs-1 order-md-1" >
                            <div class="container-fluid ">
                                <div class="row  ">
                                <img src="{{cdnHost}}/assets/images/product/studyabrode.jpeg" class="img-fluid1">
                            </div>
                            </div>
                        </div>
    
                    </div>
                 
            </div>
    
    <div class="whycontainer">
        <div class="WhyUsDiv1">
            <h3 class="Add">Why Choose Us?</h3>
            <div class=" d-flex row ">
            
            <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 order-lg-1 order-sm-2 order-xs-2 order-md-2" >
             
        
                <ul class="list-group">
                
                <li class="list-group-item list-group-item-success text-dark ">Expert Abroad Education Consultants & Certified Counsellors.</li>    
                <li class="list-group-item list-group-item-success  text-dark ">Highly Accomplished Team from India (IIT, IIM, ISB, IIMC, IISc, NITs, MSU).</li> 
                <li class="list-group-item list-group-item-success text-dark "> And Abroad (University of California, Florida, New Jersey, San Jose,<br> New York etc.).
                </li>
                <li class="list-group-item list-group-item-success text-dark ">Personalized counselling sessions using F2F or Video.
                </li>
                <li class="list-group-item list-group-item-success text-dark ">100% selection & satisfaction guarantee program.
                </li>
                <li class="list-group-item list-group-item-success text-dark ">Founding members & entire team has combined 30+ year experience in<br>
                    Career counselling & abroad or overseas education - all of them have gone outside<br> of India and understand student needs.
                    </li> 
    
                    
                </ul>
                
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 order-lg-2 order-sm-1 order-xs-1 order-md-1" >
                
                <img src="{{cdnHost}}/assets/images/product/whychooseus.jpeg" class="img-fluid2">
                
                
            </div>
        </div>
        </div>
        </div>
    
            <section class="pricing py-5">
                <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                    <div class="card mb-5 mb-lg-0">
                        <div class="card-body">
                        <h5 class="card-title text-muted text-uppercase text-center">BASIC</h5>
                        <h6 class="card-price text-center">INR 4,499 </h6>
                        <h6 class="text-center"><del>MRP 9,999</del></h6>
                        <hr>
                        <ul class="fa-ul">
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Career Profiling Test & Guidance</li><br>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>University, Degree & Course Selection</li><br>
                            
                            <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Documentation with profile building</li><br>
                            <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Application Assistance</li><br>
                            <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Additional Visa, Loan, Travel Support, Forex</li><br>
            
                        </ul>
                        <a href="https://rzp.io/l/globalvidhya-careernaksha"  target="_blank" rel="noopener" class="btn btn-block btn-primary text-uppercase">Purchase</a>
                        
    
                        </div>
                    </div>
                    </div>
    
                    <div class="col-lg-4">
                        <div class="card mb-5 mb-lg-0">
                        <div class="card-body">
                            <h5 class="card-title text-muted text-uppercase text-center">ADVANCED</h5>
                            <h6 class="card-price text-center">INR 24,499 </h6>
                            <h6 class="text-center"><del>MRP 49,999</del></h6>
                            <hr>
                            <ul class="fa-ul">
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Career Profiling Test & Guidance</li><br>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>University, Degree & Course Selection</li><br>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Documentation with profile building</li><br>
                                
                            <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Application Assistance</li><br>
                            <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Additional Visa, Loan, Travel Support, Forex</li><br>
            
                            </ul>
                            <a href="https://rzp.io/l/globalvidhya-careernaksha"  target="_blank" rel="noopener" class="btn btn-block btn-primary text-uppercase">Purchase</a>
                            
            
                        </div>
                        </div>
                    </div>
    
                    <div class="col-lg-4">
                        <div class="card mb-5 mb-lg-0">
                        <div class="card-body">
                            <h5 class="card-title text-muted text-uppercase text-center">PREMIUM</h5>
                            <h6 class="card-price text-center">INR 49,499 </h6>
                            <h6 class="text-center"><del>MRP 74,999</del></h6>
                            <hr>
                            <ul class="fa-ul">
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Career Profiling Test & Guidance</li><br>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>University, Degree & Course Selection</li><br>
                            
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Documentation with profile building</li><br>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Application Assistance</li><br>
                            <li><span class="fa-li"><i class="fas fa-check"></i></span>Additional Visa, Loan, Travel Support, Forex</li><br>
            
                            </ul>
                            <a href="https://rzp.io/l/globalvidhya-careernaksha"  target="_blank" rel="noopener" class="btn btn-block btn-primary text-uppercase">Purchase</a>
                            
            
                        </div>
                        </div>
                    </div>
                </div>
                </div>
            </section>
    
    
        </div> 
        </div>
        
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators2" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators2" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators2" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="cImages img-fluid" src="{{cdnHost}}/assets/images/product/study_india1.jpg" alt="first">
                    </div>
                    <div class="carousel-item">
                        <img  class="cImages img-fluid" src="{{cdnHost}}/assets/images/product/study_india2.jpg" alt="Chicago">
                    </div>
                    
                    </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators2" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
              <br>
    
              <div style="text-align: center;" >
                <span><hr></span><h2>Study In <span class="Add">India</span></h2><span><hr></span>
            </div>
              <br>
              <h2 class="Add">Counselling Services</h2><br>
                        <div style="margin-bottom: 15px; margin-top: 10px; text-align:left;"> study in India expert counsellors offer unbiased counselling services to leading & top universities and colleges in India. We help you in cracking their entire admission process including documentation, personal interview and profile based presentation. We cover entire Indian universities and renowned colleges to help students who are looking for bachelors, masters, PhD or diploma courses/degrees.
                        </div>
                        <br>
                        
                        <section class="pricing py-5">
                            <div class="container">
                            <div class="row">
                                <div class="col-lg-4">
                                <div class="card mb-5 mb-lg-0">
                                    <div class="card-body">
                                    <h5 class="card-title text-muted text-uppercase text-center">BASIC</h5>
                                    <h6 class="card-price text-center">INR 4,499 </h6>
                                    <h6 class="text-center"><del>MRP 9,999</del></h6>
                                    <hr>
                                    <ul class="fa-ul">
                                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Career Profiling Test & Guidance</li>
                                        <li><span class="fa-li"><i class="fas fa-check"></i></span>University, Degree & Course Selection</li>
                                        
                                        <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Documentation with profile building</li>
                                        <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Application Assistance</li>
                                        <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Additional Visa, Loan, Travel Support, Forex</li>
                        
                                    </ul>
                                    <a href="https://rzp.io/l/globalvidhya-careernaksha"  target="_blank" rel="noopener" class="btn btn-block btn-primary text-uppercase">Purchase</a>
                                    
                
                                    </div>
                                </div>
                                </div>
                
                                <div class="col-lg-4">
                                    <div class="card mb-5 mb-lg-0">
                                    <div class="card-body">
                                        <h5 class="card-title text-muted text-uppercase text-center">ADVANCED</h5>
                                        <h6 class="card-price text-center">INR 24,499 </h6>
                                        <h6 class="text-center"><del>MRP 49,999</del></h6>
                                        <hr>
                                        <ul class="fa-ul">
                                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Career Profiling Test & Guidance</li>
                                        <li><span class="fa-li"><i class="fas fa-check"></i></span>University, Degree & Course Selection</li>
                                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Documentation with profile building</li>
                                            
                                        <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Application Assistance</li>
                                        <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Additional Visa, Loan, Travel Support, Forex</li>
                        
                                        </ul>
                                        <a href="https://rzp.io/l/globalvidhya-careernaksha"  target="_blank" rel="noopener" class="btn btn-block btn-primary text-uppercase">Purchase</a>
                                        
                        
                                    </div>
                                    </div>
                                </div>
                
                                <div class="col-lg-4">
                                    <div class="card mb-5 mb-lg-0">
                                    <div class="card-body">
                                        <h5 class="card-title text-muted text-uppercase text-center">PREMIUM</h5>
                                        <h6 class="card-price text-center">INR 49,499 </h6>
                                        <h6 class="text-center"><del>MRP 74,999</del></h6>
                                        <hr>
                                        <ul class="fa-ul">
                                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Career Profiling Test & Guidance</li>
                                        <li><span class="fa-li"><i class="fas fa-check"></i></span>University, Degree & Course Selection</li>
                                        
                                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Documentation with profile building</li>
                                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Application Assistance</li>
                                        <li><span class="fa-li"><i class="fas fa-check"></i></span>Additional Visa, Loan, Travel Support, Forex</li>
                        
                                        </ul>
                                        <a href="https://rzp.io/l/globalvidhya-careernaksha"  target="_blank" rel="noopener" class="btn btn-block btn-primary text-uppercase">Purchase</a>
                                        
                        
                                    </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </section>
                        
                        </div>
                    </div> 
                <div>
            </div>
        </div>
    </div>