<div class="container" style="padding-top: 90px;">

   
    <div style="text-align: center;" class="title">
        <span><hr></span><h2><strong>Career Counselling and Career Guidance in Bharuch</strong></h2><span><hr></span>
    </div>

    
      <div id="collapsetwo" class="collapse show"  data-parent="#accordionExample">
        <div class="card-body">
            <h3>Are you searching for the best career guidance and counselling online or offline in Bharuch? Looking to find what career path is best for you? </h3>
          
        <p class="p">If you are confused about finding the right career path or career line for yourself, then you are at the right place. Get yourself the best career counselling and guidance in Bharuch which is scientific, accurate and will help you to make an informed career decision immediately.</p>

    
     <p class="p">Start today your psychometric career test which will help you to decide your talent, desire, aptitude, type of personality, skills and knowledge preferences in order to take the right career move. </p>
      
      <p class="p">CareerNaksha provides personalized career counselling, career guidance and data driven psychometric analysis through our network of best career counsellors, psychologists and experts in Bharuch both online and offline.
      </p>
      <p class="p">
        You can contact us via registering/logging in on our website or directly calling us to setup your psychometric career test and then 1:1 expert counselling to find and measure your interests, abilities, skills, knowledge, personality traits and work preferences. We also have live 24x7 counsellor chat support.
      </p>
      </div>
      <div class="button" style="text-align: center;">
        <button (click)="openLoginDialog()" class="profile-button_1">TAKE YOUR CAREER TEST</button>
        <button (click)="openLoginDialog()" class="profile-button_2">CONNECT WITH MENTOR</button>
           </div>


      <div id="collapsethree" class="collapse show"  data-parent="#accordionExample">
        <div class="card-body">
          <h3>Why & what are the reasons you need or must seek Career Guidance & Career Counselling in Bharuch?</h3>
          <p class="p">In todays' age when there are new modern careers & multiple career options to choose from with evolving gig economy and technology, students need to find the best fit career opportunities available to them while making a career decision. Career counselling & guidance is a reliable approach that aims to make better career choices for students (both school and college) based on comprehensive psychometric analysis. We spend long hours at work, our satisfaction, happiness and success depends on the career choices we make. The wrong career decisions contribute to disappointment, frustration and discomfort both in our professional and personal lives. Hence an informed decision based on interest, abilities, personality and other important traits is paramount. This is where career counselling and guidance comes in.
          </p>

          <p class="p">Our comprehensive psychometric career tests and counselling facilities in Bharuch will help you make the right choices. Career counselling helps not just in picking the correct subjects or courses, but also in chalking out a comprehensive career plan for a successful work life balance, bringing career clarity and accelerating your career growth. Our counselling sessions are conducted by the best career counsellors and experts in Bharuch who will provide the accurate career guidance and planning in your preferred area both online as well as offline (based on appointment).</p>

          <p class="p">
            CareerNaksha has scientifically researched and validated psychological career tests for every individual seeking career counselling & guidance looking to accelerate their careers. The recommendations are based on a self-evaluation which identifies an individual's skills, interests, aptitude, personality, skills, knowledge areas, etc.

          </p>
          <p class="p">
            Take our career test today and see your recommendations with a detailed report. And then follow up with a counselling session with an expert counsellor or psychologist or a career coach in Bharuch.

          </p>
        </div>
      </div>
      <div class="button" style="text-align: center;">
        <button (click)="openLoginDialog()" class="profile-button_1">TAKE YOUR CAREER TEST</button>
        <button (click)="openLoginDialog()" class="profile-button_2">CONNECT WITH MENTOR</button>
           </div>
    
    <div id="collapsefour" class="collapse show"  data-parent="#accordionExample">
      <div class="card-body">
        <h3>Services and offerings in which we tend to specialize & provide best in the industry:</h3>
        <p class="p"> 1. Deciding best-fit career stream / combination of subjects after 8th or 10th class<br>
            2. Choosing the right course / subject / branch after 12th grade<br>
            3. Selecting the best career course / specialization after or for graduation<br>
            4. Finding the most suitable college /university for the chosen course/field/degree <br>
            5. Choosing the right career profession / role /career path
        </p>
<br>
        <h3>Why choose or go with CareerNaksha as career counselling & career guidance platform in Bharuch?</h3>
        <p class="p">1. Scientific, research based highly accurate psychometric career assessments for each student, graduate or professional <br>
            2. Expert career guidance and counselling from top industry mentors, experts, psychologists and counsellors in your field/area to make the right career decision<br>
            3. Six phased unique career planning framework based on O*NET (world’s largest occupational database) with multiple years of experience on three step counselling methodology  <br>
            4. College/university search & admission handling along with documentation at one place<br>
            5. Instantly resolve all your career queries in minimum time while resolving any career confusions and providing career clarity
    </p>
      </div>
    </div>
   
    
    <div id="collapsefive" class="collapse show"  data-parent="#accordionExample">
      <div class="card-body">
        <p>To schedule an online or offline session with our experts please call us at <strong style="color:rgb(0,167,157); font-size: 17px;">+91-84691-49288</strong>
      </p>

      <p>For organizing career counselling and guidance workshops at Schools/Colleges contact us at <a href="support@careernaksha.com" style="color: rgb(0,167,157) ;font-size: 17px;"><strong>support@careernaksha.com</strong></a></p>
      </div>
    </div>

    <div class="button" style="text-align: center;">
        <button (click)="openLoginDialog()" class="profile-button_1">TAKE YOUR CAREER TEST</button>
        <button (click)="openLoginDialog()" class="profile-button_2">CONNECT WITH MENTOR</button>
           </div>

    <div id="collapsesix" class="collapse show"  data-parent="#accordionExample">
            <div class="card-body">
                <h3>Listing few career and education choices in Bharuch:</h3>
              <p class="p">Bharuch previously known as Broach is a city at the mouth of the river Narmada in Gujarat, in western India. Bharuch is the managerial central command of Bharuch District. 
            </p>
      
            <p class="p">Bharuch has been the home to the Gujarati Bhargav Brahmin people group for a very long time. The group follows its heredity to Maharshi Bhrigu Rishi and Bhagwan Parshuram who is viewed as manifestation of Lord Vishnu. The current day Bhargav Brahmins have moved to Mumbai, Surat, Vadodara, Ahmedabad and different nations like the US, UK and Australia.</p>

            <p class="p">There are various schools and universities in Bharuch which give instructions in English or Gujarati medium. Schools here are either associated to Gujarat Board, CBSE Board or the ICSE Board like Sabari Vidya Peedom, ABP School, Amity, QAC School, Holy Angels Convents, Bharatiya Vidya Bhavans, Narmada Vidyalya, DPS, and Sanskar Vidya Bhavan. </p>

            <p class="p"> A few universities give training in different under-graduate and post-graduate streams including business and science, Narmada College of Science and Commerce, Narmada College of Management - Government Engineering College (GEC), Shroff S.R Rotary Institute of Chemical Technology etc. are known colleges since numerous years. Narmada College of Computer Application (NCCA) provides Master of Computer Application (MCA) course since 1999. </p>

            <p class="p">There is a designing school subsidiary to the Gujarat Technical University including Government Engineering College named as SVM Institute of Technology which offers post-graduate courses. </p>
            </div>
          </div>
   </div>
   </div>