<div class="container gallery-container Events">
  <div class="tz-gallery">
    <div class="row">

    <div class="col-sm-6 col-md-4">
        <div class="column">
            <div class="thumbnail">
                <a class="lightbox" href="{{cdnHost}}/assets/galleryPhotos/Upcoming Events/Psychometric-2.jpeg">
                    <img src="{{cdnHost}}/assets/galleryPhotos/Upcoming Events/Psychometric-2.jpeg" alt="Upcoming Events" width="100%" height="auto">
                </a> 
                <div class="caption">   
                   
                    <h3><p>Hello MSU students👨🏻‍🎓</p></h3>
                    <p>We hope you have registered yourself for Psychometric test at no cost✌🤩 
                        If Yes, then please share it with all your msu friends 🤝🥳
                        If No, then what are you waiting for? 😳 Go book your slot fast. 🤗
                        </p>
                    <p>📝About the test:
                        🔖Full computerized test🖥.
                        🔖 Only 30 minutes to decide which career suits you the best.💪🏻
                        🔖 Detailed report will be generated for you📈
                        🔖Free Counselling will be given to you by experts and trained psychologists🧠🤝</p>
                        
                    <h3><strong><p>🗓 👨🏻‍💻Date for the test:23rd and 24th December 2019.</p></strong></h3>
                    <h3><p><strong> 🗓🔒Last Date for free registration : 20th December 2019. </strong></p></h3>
                   <p>📞 +91-84691-49288  </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="column">
            <div class="thumbnail">
                <a class="lightbox" href="{{cdnHost}}/assets/galleryPhotos/Upcoming Events/Psychometric.jpeg">
                    <img src="{{cdnHost}}/assets/galleryPhotos/Upcoming Events/Psychometric.jpeg" alt="Upcoming Events" width="100%" height="auto">
                </a> 
                <div class="caption">   
                   
                    <p>Office of Career Advancement for Students & CareerNaksha (1st startup incubated at The Maharaja Sayajirao University) is conducting <strong>Psychometric Aptitude Assessment Test followed by counselling session </strong>for the students of The Maharaja Sayajirao University, Vadodara.🏬</p>
                    <p>About Psychometric test:
                        It is designed specially for you to measure your amazing capabilities and styles(based on <strong>Interest,🎯 Behaviour,🧘🏻‍♀ Aptitude,😎 skills🤼‍♀ and work style👨🏻‍💻)</strong></p>
                    <p>Benefits:
                        1.Build a strong Career
                        2.Career counselling based on the psychometrics.
                        3.Improve your skills  & crack jobs
                        4.Build a powerful profile. </p>
                        
                    <h3><strong><p>🗓Date 23rd & 24th December</p></strong></h3>
                    <p>🕧Span of test : <strong>30 minutes</strong>
                        💰 <strong>no fees </strong>(supported by Office of Career Advancement) </p>
                   <p>Book your slot below & for any details please get in touch with our experts📞 +91-84691-49288 </p>
                </div>
            </div>
        </div>
    </div>
     
      <div class="col-sm-6 col-md-4">
        <div class="column">
          <div class="thumbnail">
            <a class="lightbox" href="{{cdnHost}}/assets/galleryPhotos/Colleges/Parul university/parulpolitacnic.jpeg">
              <img src="{{cdnHost}}/assets/galleryPhotos/Colleges/Parul university/parulpolitacnic.jpeg" alt="PARUL UNIVERSITY" width="100%" height="auto">
            </a>
            <div class="caption">
              <h5>PARUL UNIVERSITY, DIPLOMA IN MECHANICAL ENGINEERING</h5>
              <p>On 19 December, Thursday, we visited Parul University. We took a seminar of Diploma Polytechnic final year Students. We talked about how  they  can be benefited with CareerNaksha. We also talked about 'Project Saarthi', our current initiative which we are working on. It was really great to interact with them.</p>
            </div>
          </div>
        </div>
      </div>
     
      <div class="col-sm-6 col-md-4">
        <div class="column">
          <div class="thumbnail">
            <a class="lightbox" href="{{cdnHost}}/assets/galleryPhotos/Colleges/Aligarh Muslim University/Aligarh.jpeg">
              <img src="{{cdnHost}}/assets/galleryPhotos/Colleges/Aligarh Muslim University/Aligarh.jpeg" alt="Aligarh Muslim University" width="100%" height="auto">
            </a>
            <div class="caption">
              <h5>Aligarh Muslim University</h5>
              <p>ALIGARH November 24: The Training and Placement Office (General), Aligarh Muslim University, in association with CareerNaksha, a Gujarat based educational training body, organized a workshop on "CV building, Interview Preparation and Personality Development".</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="column">
          <div class="thumbnail">
            <a class="lightbox" href="{{cdnHost}}/assets/galleryPhotos/Colleges/Adani Institute Of Infrastructure Management/adanigroup.jpeg">
              <img src="{{cdnHost}}/assets/galleryPhotos/Colleges/Adani Institute Of Infrastructure Management/adanigroup.jpeg" alt="Adani Institute Of Infrastructure Management" width="100%" height="auto">
            </a>
            <div class="caption">
              <h5>Adani Institute Of Infrastructure Management</h5>
              <p>Role Specific MBA Guidance
                How to find the right specialization based on Psychometrics</p>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-sm-6 col-md-4">
        <div class="column">
          <div class="thumbnail">
            <a class="lightbox" href="{{cdnHost}}/assets/galleryPhotos/Colleges/Charotar University/photo1.jpeg">
              <img src="{{cdnHost}}/assets/galleryPhotos/Colleges/Charotar University/photo1.jpeg" alt="Charotar University" width="100%" height="auto">
            </a>
            <div class="caption">
              <h5>Charotar University</h5>
              <p>How to chose a right career? Top 5 things to keep in mind</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="column">
          <div class="thumbnail">
            <a class="lightbox" href="{{cdnHost}}/assets/galleryPhotos/Colleges/Institute of Leadership & Governance (ILG), MS University/photo2.jpeg">
              <img src="{{cdnHost}}/assets/galleryPhotos/Colleges/Institute of Leadership & Governance (ILG), MS University/photo2.jpeg" alt="Institute of Leadership & Governance (ILG), MS University" width="100%" height="auto">
            </a>
            <div class="caption">
              <h5>Institute of Leadership & Governance (ILG), MS University</h5>
              <p>First event of the season - our director & founder giving seminar on the topic of “transformation of education & impact due to application of technology” </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="column">
          <div class="thumbnail">
            <a class="lightbox" href="{{cdnHost}}/assets/galleryPhotos/Colleges/UIET, Panjab University/Photo-12.jpeg">
              <img src="{{cdnHost}}/assets/galleryPhotos/Colleges/UIET, Panjab University/Photo-12.jpeg" alt="UIET, Panjab University" width="100%" height="auto">
            </a>
            <div class="caption">
              <h5>UIET, Panjab University</h5>
              <p>Some Of The Clicks From Today’s Event
                At SBE University Institute Of Engineering & Technology,Chandigarh.
                A Seminar On “Scope Of Biotechnology’s in Abroad”.
                Speaker - Nimish Gopal,Founder & Director CareerNaksha.
                </p>
            </div>
            </div>
          </div>
        </div>

      <div class="col-sm-6 col-md-4">
        <div class="column">
          <div class="thumbnail">
            <a class="lightbox" href="{{cdnHost}}/assets/galleryPhotos/Colleges/Jamia Hamdard/photo3.jpeg">
              <img src="{{cdnHost}}/assets/galleryPhotos/Colleges/Jamia Hamdard/photo3.jpeg" alt="Jamia Hamdard" width="100%" height="auto">
            </a>
            <div class="caption">
              <h5>Jamia Hamdard</h5>
              <p>Today Our Founder @ng_d_killer had a great session with 50+ Students of @jamiahamdarduniversity University,New Delhi.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="column">
          <div class="thumbnail">
            <a class="lightbox" href="{{cdnHost}}/assets/galleryPhotos/Colleges/Parul university/photo6.jpeg">
              <img src="{{cdnHost}}/assets/galleryPhotos/Colleges/Parul university/photo6.jpeg" alt="Parul University, Computer Science" width="100%" height="auto">
            </a>
            <div class="caption">
              <h5>Parul University, Computer Science</h5>
              <p>We had a session at @paruluniversity on how to build a powerful Linkedin profile & it’s importance. Our founder @nimish_gopal talked about why it is important to have a Linkedin profile today. Also how you can keep building your profile as an alternative to resume and get a job or internship.</p>
            </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-4">
          <div class="column">
            <div class="thumbnail">
              <a class="lightbox" href="{{cdnHost}}/assets/galleryPhotos/Colleges/TPO, Charusat University/Photo-9.jpeg">
                <img src="{{cdnHost}}/assets/galleryPhotos/Colleges/TPO, Charusat University/Photo-9.jpeg" alt="TPO, Charusat University" width="100%" height="auto">
              </a>
              <div class="caption">
                <h5>TPO, Charusat University</h5>
                <p>Our founder giving talk at Charusat University, Anand on how to advance your career </p>
              </div>
              </div>
            </div>
          </div>
    
        <div class="col-sm-6 col-md-4">
          <div class="column">
            <div class="thumbnail">
              <a class="lightbox" href="{{cdnHost}}/assets/galleryPhotos/Colleges/Balaji BCA MCA College/photo 4.jpeg">
                <img src="{{cdnHost}}/assets/galleryPhotos/Colleges/Balaji BCA MCA College/photo 4.jpeg" alt="Balaji BCA MCA College" width="100%" height="auto">
              </a>
              <div class="caption">
                <h5>Balaji BCA MCA College</h5>
                <p>We were invited at Balaji College of Computer Application to talk about various career options after BCA & option to startup as well. With government of India, specifically promoting Startup-India initiatives, our seminar focused on how to startup and what it takes to become an entrepreneur.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="column">
              <div class="thumbnail">
                <a class="lightbox" href="{{cdnHost}}/assets/galleryPhotos/Colleges/Polytechnic MSU/photo 2.jpeg">
                  <img src="{{cdnHost}}/assets/galleryPhotos/Colleges/Polytechnic MSU/photo 2.jpeg" alt="MSU Polytechnic" width="100%" height="auto">
                </a>
                <div class="caption">
                  <h5>MSU Polytechnic</h5>
                  <p>Glimpses of our workshop on communication skills and personality development was organized at #Prayas2019 Polytechnic The Maharaja Sayajirao University of Baroda Vadodara, Gujarat</p>
                </div>
              </div>
            </div>
          </div>    
          

      </div>
    </div>
  </div>