<div class="container gallery-container Events">
  <div class="tz-gallery">
    <div class="row">


   <div class="col-sm-6 col-md-4" *ngFor="let collage of collages">
        <div class="column">
            <div class="thumbnail">
                <a class="lightbox">
                   <img src="{{collage.cl_image}}" alt="Upcoming Events" width="100%" height="auto">
                </a> 
                <div class="caption">  
                  
                   
                    <h3><p>{{collage["cl_title"]}}</p></h3>
                    <p><markdown>{{collage["cl_detail"]}}</markdown></p>
                   </div>
                </div>
            </div>
        </div>
      </div>
      </div>
    </div>
  