<div class="container" style="padding-top: 90px;">

    <!--<div class="row">
        <h1 style="font-weight:500; padding-left: 25%;" class="title" ><hr>Career counselling In Ahmedabad<hr></h1>
    </div>-->
    <div style="text-align: center;" class="title">
        <span><hr></span><h2>Career Counselling In Ahmedabad</h2><span><hr></span>
    </div>

    
      <div id="collapsetwo" class="collapse show"  data-parent="#accordionExample">
        <div class="card-body">
            <h3>Are you searching for best career guidance and counselling online? Looking to find what career path is best for you?</h3>
        <p class="p">If you are confused about finding the right career line for you then you are the right place. Get yourself the best career guidance in Ahmedabad which is scientific and accurate and will help you to make an informed career decision.</p>

    
     <p class="p">Start today your career test which will help you to decide your talent, desire, type of personality, skills and knowledge preferences in order to take the right career move. CareerNaksha provides personalized career counselling and data driven psychometric analysis through our network of best career counsellors and experts in Ahmedabad both online and offline.</p>
      
      <p class="p">You can contact us via registering/logging in or directly calling us to setup your psychometric career test and then 1:1 expert counselling to find and measure your interests, abilities, skills, knowledge, personality traits and work preferences. We also have live 24x7 counsellor chat support.
      </p>
        
      </div>
      <div class="button" style="text-align: center;">
        <button (click)="openLoginDialog()" class="profile-button_1">TAKE YOUR CAREER TEST</button>
        <button (click)="openLoginDialog()" class="profile-button_2">CONNECT WITH MENTOR</button>
           </div>


      <div id="collapsethree" class="collapse show"  data-parent="#accordionExample">
        <div class="card-body">
          <h3>Why & what are the reasons you must seek Career Guidance & Counselling in Ahmedabad?</h3>
          <p class="p">In todays' age when there are new modern careers to choose from with evolving gig economy and technology, students need to find the best fit career opportunities available to them while making a career decision. Career counselling is a reliable approach that aims to make better career choices for students (both school and college). We spend long hours at work, our satisfaction, happiness and success depends on the career choices we make. The wrong career decisions contribute to disappointment, frustration and discomfort both in our professional and personal lives. Hence an informed decision based on abilities, personality and other important traits is paramount. This is where career counselling comes in. 
          </p>

          <p class="p">Our comprehensive psychometric career tests and counselling facilities in Ahmedabad will help you make the right choices. Career counselling helps not just in picking the correct subjects or course, but also in chalking out a comprehensive career plan for a successful work life balance. Our counselling sessions are conducted by the best career counsellors in Ahmedabad who will provide the accurate career guidance and planning in your preferred area both online as well as offline (based on appointment).</p>

          <p class="p">
            CareerNaksha has scientifically researched and validated career tests for every individual seeking career counselling looking to accelerate their careers. The recommendations are based on a self-evaluation which identifies an individual's skills, interests, personality, knowledge areas, etc. 

          </p>
          <p class="p">
            Take our test today and see your recommendations. And then follow up with a counselling session with an expert counsellor or a career coach in Ahmedabad.

          </p>
        </div>
      </div>
      <div class="button" style="text-align: center;">
        <button (click)="openLoginDialog()" class="profile-button_1">TAKE YOUR CAREER TEST</button>
        <button (click)="openLoginDialog()" class="profile-button_2">CONNECT WITH MENTOR</button>
           </div>
    
    <div id="collapsefour" class="collapse show"  data-parent="#accordionExample">
      <div class="card-body">
        <h3>Fields in which we specialize:</h3>
        <p class="p"> 1. Choosing the right stream / combination of subjects after 8th or 10th grade<br>
            2. Choosing the right course / subjects / branch after 12th grade<br>
            3. Choosing the right course / specialization after graduation<br>
            4. Choosing the most suitable college for the selected course/field of work<br>
            5. Choosing the right profession / role /career path
        </p>
<br>
        <h3>Why choose CareerNaksha as career counselling & guidance platform in Ahmedabad ?</h3>
        <p class="p">1. Research based and accurate psychometric career assessments for every student <br>
            2. Expert career guidance and counselling from top industry mentors and counsellors in your field/ area to make the right career decision<br>
            3. Six phased unique career planning framework based on O*NET (world’s largest occupational database) with multiple years of experience<br>
            4. College Search & College Admission at one place<br>
            5. Instantly resolve all your career queries in minimum time with resolving any career confusions with clarity
    </p>
      </div>
    </div>
   
    
    <div id="collapsefive" class="collapse show"  data-parent="#accordionExample">
      <div class="card-body">
        <p>To schedule an online or offline session with our experts please call us at <strong>+91-84691-49288</strong>
      </p>

      <p>For organizing career counselling and guidance workshops at Schools/Colleges contact us at <a href="support@careernaksha.com" style="color: rgb(0,167,157) ;"><strong>support@careernaksha.com</strong></a></p>
      </div>
    </div>

    <div class="button" style="text-align: center;">
        <button (click)="openLoginDialog()" class="profile-button_1">TAKE YOUR CAREER TEST</button>
        <button (click)="openLoginDialog()" class="profile-button_2">CONNECT WITH MENTOR</button>
           </div>

    <div id="collapsesix" class="collapse show"  data-parent="#accordionExample">
            <div class="card-body">
                <h3>Some career and education options in Ahmedabad</h3>
              <p class="p">Ahmedabad is a metropolitan city with the central hub for industries and educational institutes. Ahmedabad is also adjacent to Gandhinagar which is the Gujarat's capital. The city boasts of one of the best management institute IIM Ahmedabad, one of the best design institute National Institute of Design (NID) and some of the top institutes in engineering like NIRMA, DA-IICT, LDE etc.
            </p>
      
            <p class="p">Ahmedabad is also popular for international and top class schools like Ahmedabad International School, Mahatma Gandhi International School, DPS Bopal, Anand Niketan, Sant Kabir, Udgam School etc. Many of these schools have state of the art facilities with modern career counselling outlook. We at CareerNaksha is always looking to partner with forward looking schools & colleges to help students with their career development.</p>
            </div>
          </div>
   </div>
   </div>