.more{
	background-color:rgb(0,167,157);
	color:#fff;
	border:none;
	width:152px;
	border-radius:2px;
	font-weight:600;
	
}



.circle{
	border-radius: 50%;
	margin: 0.15em;
	font-size: 3em;
	}

.social-icon{
	width: 38px;
	height: 38px;
	border-radius: 50%;
	background-color: black;
	color: #26a9e0;
	text-align: center;
	display: inline-block;
	margin-right: 1rem;
}

.social-link{
	text-decoration: none;
}
li{
	display:inline;
	margin-right: 15px;
}
.nav-item{
	background-color: rgb(0,167,157);
	margin-right: 0px;
	padding-top: 9px;
	padding-bottom: 9px;
	cursor: pointer;
	font-family: 'Raleway', sans-serif;
}
.head-link{
	background-color: rgb(255, 255, 255);
	font-weight: 800;
}
.nav-item:hover{
	color:rgb(0,167,157)!important;
}
.nav-link{
	color:rgb(0,167,157)!important;
	font-weight: 800!important;
	font-family:'Raleway','sans-serif';
}
.nav-link:hover{
	transform: translateY(-3px) scale(1.09);
	color:rgb(0,167,157)!important;
}
#footer{
	padding-top:55px;
    height:auto;
   margin-right: 0px;
	background:linear-gradient( rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5)100%),url("https://d2t0yxygbqzqe9.cloudfront.net/assets/images/homepage/Footer.jpg"); 
	padding-left: 25px!important;
	padding-right: 25px!important;
	
}
.footer-para{
	  font-size: 15px;
	  font-family:'Raleway',sans-serif ;
	  color:#fff;
	  
}



.fot{
	padding-top:20px; 
	margin-bottom: 15px;
}
textarea::placeholder{
	color:#fff;
	font-weight: 400;
	font-size: 14px;
}
.navbar{
	height: 60px;
	padding-bottom: 20px;
}
textarea{
	color:#fff;
	overflow: hidden;
}
.more{
	height: 30px;
}
button{
	cursor: pointer;
}
.blog-col{
	padding-left: 80px;
}

@media screen and (min-width: 300px) and (max-width: 500px) { 
  
	#footer{
		height: auto;
	}
	.blog-col{
		  padding-left: 57px;
		  padding-right: 40px;
	}
	.login-list{
		padding-left: 15px;
	}
	.navbar-toggler{
		margin-right: 27px;
	}

	.dropdown-center{
		padding-right: 35px;
	}
	.navbar{
		height: 66px;
	}
	.head-link{
		border-bottom: 2px solid #fff;
	}
	.contact-div{
		padding: 30px;
	}
	.more{
		height:55px;
	}
   }

 

   #map-plug {display:none;}

   #google-reviews {
   display:flex;
   flex-wrap:wrap;
   display: grid;
   grid-template-columns: repeat( auto-fit, minmax(320px, 1fr));
   }
   
   .review-item {
   border:solid 1px rgba(190,190,190,.35);
   margin:0 auto;
   padding:1em;
   flex: 1 1 20%;
   }
   
   @media ( max-width:1200px) {
	 .review-item { flex: 1 1 40%; }
   }
   
   @media ( max-width:450px) {
	 .review-item { flex: 1 1 90%; }
   }
   
   .review-meta, .review-stars {text-align:center; font-size:115%;}
   .review-author { text-transform: capitalize; font-weight:bold; }
   .review-date {opacity:.6; display:block;}
   .review-text {  line-height:1.55; text-align:left; max-width:32em; margin:auto;}
   
	
   
   .review-stars ul {
   display: inline-block;
   list-style: none;
   margin:0; padding:0;
   }
   
   .review-stars ul li {
   float: left;
   margin-right: 1px;
   line-height:1;
   }
   
   .review-stars ul li i {
	 color: #E4B248;
	 font-size: 1.4em;
	 font-style:normal;
   }
   .review-stars ul li i.inactive { color: #c6c6c6;}
   .star:after { content: "\2605"; }

.footerdetail{
	color: white;
	margin-bottom: 30px;
	cursor: pointer;
}


hr {
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border-width: 1px;
  }

 /********************payment logo********************/



 .media-carousel 
 {
   margin-bottom: 0;
   padding: 0 40px 30px 40px;
   margin-top: 30px;
 }
 /* Previous button  */
 .media-carousel .carousel-control.left 
 {
   left: -12px;
   background-image: none;
   background: none repeat scroll 0 0 #222222;
   border: 4px solid #FFFFFF;
   border-radius: 23px 23px 23px 23px;
   height: 40px;
   width : 40px;
   margin-top: 30px
 }
 /* Next button  */
 .media-carousel .carousel-control.right 
 {
   right: 12px !important;
   background-image: none;
   background: none repeat scroll 0 0 #222222;
   border: 4px solid #FFFFFF;
   border-radius: 23px 23px 23px 23px;
   height: 40px;
   width : 40px;
   margin-top: 30px
 }
 /* Changes the position of the indicators */
 .media-carousel .carousel-indicators 
 {
   right: 50%;
   top: auto;
   bottom: 0px;
   margin-right: -19px;
 }
 /* Changes the colour of the indicators */
 .media-carousel .carousel-indicators li 
 {
   background: #c0c0c0;
 }
 .media-carousel .carousel-indicators .active 
 {
   background: #333333;
 }
 .media-carousel img
 {
   width: 250px;
   height: 100px
 }
 .mobile {
   display: none;
 }
 @media all and (max-width:767px) {
   .desktop {
	 display: none;
   }
   .mobile {
	 display: block;
   }
 }
 
  

 .logo1{
	width:76px;height:40px; ;
  }
  .logo2{
	width:70px;
	height:40px; margin-left: 20px;
  }
  .logo3{
	width:70px;height:40px; margin-left: 20px;
  }
  
  .logo4{
	width:98px;height:40px; margin-left: 20px;
  }
  
  .logo5{
	width:66px;height:40px; margin-left: 20px;
  }
  .logo6{
	width:70px;height:40px; margin-left: 20px;
  }
  .logo7{
	width:96px;height:40px; margin-left: 20px;
  }

  .carousel-item{
	margin-right: 50px;
	padding-bottom: 7px;
  }