
<div class="container gallery-container Events">
  <div class="tz-gallery">
    <div class="row">
      
      
      <div class="col-sm-8 col-md-6">
        <div class="column">
            <div class="thumbnail" style="width: 30rem;">
             
              <div class="caption">
                <h5>Global Vidhya</h5>
                <p>Our event GlobalVidhya 2020 was successfully organized and was attended by 500+ students at Maharaja Sayajiroa University, Vadodara.</p>
                <p>The occasion was graced by </p>
                 <p>Mr. Prakash Tiwary, Head of Engineering, OpsHub Inc., Mentor & Advisor at various startups in Gujarat,<br>
                  AGM Binay Kumar, State Bank of India, Alkapuri Branch, Vadodara, <br>
                  Ms. Komal Harjani, MAAC Center Head, Vadodara, <br>
                  Ms. Richa Kashyap, Author, Puma: A soldier's dog,<br> 
                  Professors Dr. JD Rathore, Dr. Akash Pandey, Assistant Directors, Center of Startup Incubation & Student Innovation Cell, Center of Career Advancements for Students, MS University, Vadodara
                  Nimish Gopal, Founder & Director, CareerNaksha, 1st MSU Startup, Vadodara</p>

                  <p>Students were given opportunity to interact with all our guests and seek guidance on their respective careers. Many students who were interested in going abroad for their education, were able to gather guidance on how to shortlist the colleges, finding the right course & degree, how to write personalized SOP or LOR to apply to their dream colleges (in USA, Canada, Europe, Australia, New Zealand, UAE, Ireland, Sweden etc.)
                  </p>
                  <p>We would like to thank our partners who supported us in helping our students:<br>
                    State Bank of India<br>
                    FCM Travel Solutions<br>
                    MAAC Vadodara<br>
                    AmberStudent<br>
                    Expertrons<br>
                    JoinInCampus<br>
                    ApplyBoard<br>
                    Rotaract Club of Vadodara</p>
                   
                <a href="#" class="btn btn-primary">View More</a>
              </div>
            </div>
          </div>
      </div>


      </div>
    </div>
  </div>