
<div class="container gallery-container Events">
  <div class="tz-gallery">
    <div class="row">
      
      <div class="col-md-6" *ngFor="let globalvidhya of globalvidhyas">
        <div class="column">
            <div class="thumbnail" style="width: 300px;">
             
              <a class="lightbox">
                <img src="{{globalvidhya.gv_image}}" alt="Upcoming Events" width="100%" height="auto">
             </a> 
            
              <div class="caption">
                <h5>{{globalvidhya["gv_title"]}}</h5>
                <p><markdown>{{globalvidhya["gv_detail"]}}</markdown></p>
                   
               
              </div>
            </div>
          </div>
      </div>

      </div>
    </div>
  </div>