<script src="https://ind.tucareers.com/sites/all/libraries/iframe-resizer/js/iframeResizer.js" type="text/javascript" style="margin-top: 55px;"></script>

<iframe id="iFrame" style="overflow: hidden; border: 0px; height: 455px; margin-top: 55px;" src="https://ind.tucareers.com/startassessment" scrolling="yes" width="100%"></iframe>

<script>
iFrameResize({log:false,heightCalculationMethod:'max'},'#iFrame' );
</script>

<div class="text" style="text-align: center; font-size: 30px; margin-bottom: 10px; color: rgb(0,167,157);">“Get your coupon code after payment or call +91-84691-49288”</div>