<div class="row wrapper" style="width:100%;height:497px;">


<div class="col-md-2"></div>
<div class="col-md-8 thank-content" style="background-color:white;height:368px;" align="center">

   <p style="color:rgb(0,167,157);font-size:27px;font-weight:800;margin-top:110px;">THANKS</p>
   <p style="color:rgb(0,167,157);font-size:17px;font-weight:500;">Your personal counselor will get in touch shortly or feel free to reach out at <span>84697-49288</span>or <span>support@carerrnaksha.com</span></p>
</div>
<div class="col-md-2"></div>

</div>