


@media only screen and (min-device-width : 360px) and (max-device-width: 640px) 
{
  .card-div {
    background-image: url('https://d2t0yxygbqzqe9.cloudfront.net/assets/images/about/team.png');
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 500px;
    margin-left: auto;
  }
    .card-div-tall {
      grid-row: span 2 / auto;
    }
    .card-div-wide {
      grid-column: span 2 / auto;
    }
  
 .expert-detail {
   padding-left: 37%;
   font-size: 4px;
   line-height: 1.05;
 }
 .expert-data {
   font-size: 4px;
   line-height: 0.95;
 }
 .expert-label {
   font-size: 5vw;
 }
 .appointment-button {
   margin-top:  10px;
   height: 15px;
  
 } 
}


@media only  screen and (min-device-width:400px) and (max-device-width:600px)
{
  .card-div {
    background-image: url('https://d2t0yxygbqzqe9.cloudfront.net/assets/images/about/team.png');
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 500px;
    margin-left: auto;
  }
    .card-div-tall {
      grid-row: span 2 / auto;
    }
    .card-div-wide {
      grid-column: span 2 / auto;
    }
  
 .expert-detail {
   padding-left: 37%;
   font-size: 5px;
   line-height: 1.20;
 }
 .expert-data {
   font-size: 5px;
   line-height: 1.15;
 }
 .expert-label {
   font-size: 5vw;
 }
 .appointment-button {
   margin-top: 20px;
 
 } 
}


.paratwo{
    color: rgb(0,167,157);
    margin-top:-15px;
    font-size: 19px;
    font-weight: 600;
  }
  .spantwo{
    font-weight: 800;
    font-size: 19px;
  }
.card-div{
  background-image: url('https://d2t0yxygbqzqe9.cloudfront.net/assets/images/about/team.png');
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 346px;
  margin-top: 20px;
}
.expert-label{

  color: #fff;
  font-size: 12px;
  font-weight: bolder;
}

.expert-detail{
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  margin-bottom: 0px;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: bolder;


}
.expert-div{
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 55px;
  padding-bottom: 3px;
}
.expert-data{
  color: rgb(0,167,157);
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 6px;
  letter-spacing: 1px;
  
}

.data-label{
  color: rgb(0,167,157);
  font-size: 12px;
   font-weight: bolder;
}


.data-div{
 padding-left: 65px;
 padding-right: 65px;
 padding-top: 14px;
 height:141px;
}
.appointment-button{
  border:none;
  background: none;
  background-color: rgb(0,167,157);
  color:#fff;
  width: 230px;
  height: 36px;
  padding: 6px;
  cursor: pointer;
  font-weight: bold;
  outline: none;
}



/***.paratwo{
  color: rgb(0,167,157);
  margin-top:-15px;
  font-size: 19px;
  font-weight: 600;
}
.spantwo{
  font-weight: 800;
  font-size: 19px;
}
 
.card-div{
background-image: url('https://d2t0yxygbqzqe9.cloudfront.net/assets/images/about/team.png');
background-repeat:no-repeat;
background-position: center;
background-size: cover;
width: 100%;
height: 346px;
margin-top: 20px;
}
.expert-label{

color: #fff;
font-size: 12px;
 font-weight: bolder;
}

.expert-detail{
color: rgb(255, 255, 255);
font-size: 11px;
font-weight: 600;
margin-bottom: 0px;
letter-spacing: 1px;
font-size: 12px;
font-weight: bolder;


}
.expert-div{
padding-left: 32px;
padding-right: 32px;
padding-top: 55px;
padding-bottom: 3px;
}
.expert-data{
color: rgb(0,167,157);
font-size: 12px;
font-weight: 600;
margin-bottom: 6px;
letter-spacing: 1px;
}

.data-label{
color: rgb(0,167,157);
font-size: 12px;
 font-weight: bolder;
}


.data-div{
padding-left: 65px;
padding-right: 65px;
padding-top: 14px;
height:141px;
}
.appointment-button{
border:none;
background: none;
background-color: rgb(0,167,157);
color:#fff;
width: 230px;
height: 36px;
padding: 6px;
cursor: pointer;
font-weight: bold;
outline: none;
}



.avatar {
  vertical-align: middle;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}*/