* {
  box-sizing: border-box;
}

.text {
  background-color: rgb(1,167,157);
  margin-top: 100px;
  margin-left: 200px;
}

.column {
  float: left;
  width: 47%;
  padding: 0 10px;
  margin-top: 30px;
  margin-left: 30px;
}

.row {  margin-left: 5%;}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.star {
  text-align: left;
}

.checked {
  color: yellow;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
  text-align: left;
  background-color: #ffffff;
  border-radius: 10px;
   border: 1px solid black;
   height: 375px;
   width: auto;
}
.card1 {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2); 
  padding: 0px 15px;
  text-align: left;
  color: black;
  background-color: grey;
  border-radius: 5px;
}
.circle {
  margin-left: 5%;
  margin-bottom: 10px;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  float: left;
  border: 2px solid rgb(0, 0, 0);
  margin-top: 10px;
}

.circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  text-align: center;
}


.expert-detail{
  color: rgb(0, 0, 0);
  font-weight: 600;
  margin-left: 5%;
  margin-top: -15px;
}

.expert-data{
  color: rgb(0, 0, 0);
  font-weight: 300;
  margin-bottom: 6px;
  font-size: 15px;
  margin-right: 5%;
  text-indent: 0px;
  }


.appointment-button{
  border:none;
  background: none;
  background-color: rgb(1,167,157);
  color:#fff;
  width: 230px;
  height: 36px;
  padding: 6px;
  cursor: pointer;
  font-weight: bold;
  outline: none;
  margin-top: 5px;
  margin-left: 5%;
}
.pokl {
  margin-right: 15px;
}


.poki p{
  text-indent: -22px;
  margin-left: 5%;
}

.expertise p{
  
  margin-left: 10%;
}

.intro1 {
  margin-left: 30%;
  margin-top: 30px;
  font-size: 25px;
}

.intro2 {
  margin-left: 30%;
  margin-top: -10px;
  font-size: 20px;  
}
.intro3 {
  text-indent: -5px;
  margin-left: 28%;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    margin-left: 0px;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    text-align: left;
    background-color: #ffffff;
    border-radius: 10px;
     border: 1px solid black;
     height: auto;
     width: auto;
  }
  .expert-detail{
    color: rgb(0, 0, 0);
    font-weight: 600;
    margin-left: 7%;
    margin-top: -15px;
  }
  
  .expert-data{
    color: rgb(0, 0, 0);
    font-weight: 300;
    margin-bottom: 6px;
    font-size: 15px;
    margin-right: 5%;
    text-indent: 0px;
    }
    .appointment-button{
      border:none;
      background: none;
      background-color: rgb(1,167,157);
      color:#fff;
      width: 230px;
      height: 36px;
      padding: 6px;
      cursor: pointer;
      font-weight: bold;
      outline: none;
      margin-top: 5px;
      margin-left: 5%;
      margin-bottom: 3%;
    }


  .circle {
    margin-left: 30%;
    margin-right: 40%;
  }
  
  .intro1 {
    margin-left: 0.5%;
    font-size: 25px;
  }
  .intro2 {
    margin-left: 0.5%;
    font-size: 18px;
  }
  .intro3 {
    margin-left: -3%;
  }
  
}
