<div class="container" style="margin-top:80px;" >

  <div class="row2" style="border-top:1px solid rgb(0,167,157);margin-bottom:5px;padding-top:15px;"> 
    <div class="col-md-1"></div>
    <div  align="center" >

      <p style="color:rgb(0,167,157);font-weight:800;font-size:29px;">Our Experts</p>
     
    </div>
</div>


  <div class="row" >
    <div class="column" *ngFor="let counsellor of counsellorResponse">
      <div class="card">
        <a>
          <div class="circle">
            <img src="https://dashboard.careernaksha.com{{counsellor.Counsellor_pic.url}}" >
          </div>
          <div class="intro1">
            <p class="expert-detail"> {{counsellor["Name"]}}</p>
          </div>
          <div class="intro2">
            <p class="expert-detail"> {{counsellor["Experience"]}}+ Experience</p>
          </div>
          <div class="poki">
            <p class="expert-data"><span class="expert-detail">Expertise :</span> {{counsellor["Expertise"]}}</p>
          </div>
        </a>
        <div class="poki">
          <p class="expert-data"><span class="expert-detail">Summary :</span> {{counsellor["Summary"]}}</p>
          <p class="expert-data"><span class="expert-detail">Field Focus :</span> {{counsellor["Field_Focus"]}}</p>
          <p class="expert-data"><span class="expert-detail">Availability :</span> {{counsellor["Availability"]}}</p>
        </div>
        <button class="appointment-button" (click)="openBookDialog();getCounsellorId(counsellor._id,counsellor.Name)">Book an appointment</button>
      </div>
    </div>
  </div>
</div>
