<div style="text-align:center;height:85px;width:100%;padding-top:20px;padding-bottom:20px;margin-top:85px;">
   <h1 style="color:rgb(0,167,157);font-weight:800;font-size:30px;">CAREERNAKSHA PRODUCTS</h1>
</div>

<div class="row mobile-products" style="height:auto;">
   
   <div class="col-xs-12" style="height:auto;width:100%;margin-top:20px;background-color:rgb(0,167,157);padding-left:33px;padding-right:51px;padding-top:12px;padding-bottom:12px;">

        <img style="width:175px;height:195px;float:left;" src="{{cdnHost}}/assets/images/product/Profile_builder.png" alt="image">
        <p style="font-weight:700;color:#fff;letter-spacing:1px;font-size:16px">CareerPatri</p>
       <p style="color:#fff;">
         Custom profile builder based on users past and current experiences in the form of Resume, CV, SOP etc.      
      </p>

   </div>

   <div class="col-xs-12" style="height:auto;width:100%;margin-top:20px;background-color:rgb(0,167,157);padding-left:33px;padding-right:51px;padding-top:12px;padding-bottom:12px;">

        <img style="width:175px;height:195px;float:left;" src="{{cdnHost}}/assets/images/product/Guidance.png" alt="image">
              <p style="font-weight:700;color:#fff;letter-spacing:1px;font-size:16px">CareerDisha (counselling)</p>
             <p style="color:#fff;">
               Mentorship and lifetime guidance connecting with best fit expert having experience in the domain.           
              </p>
   </div>

   <div class="col-xs-12" style="height:auto;width:100%;margin-top:20px;background-color:rgb(0,167,157);padding-left:33px;padding-right:51px;padding-top:12px;padding-bottom:12px;">

        <img style="width:175px;height:195px;float:left;" src="{{cdnHost}}/assets/images/product/job.png" alt="image">
        <p style="font-weight:700;color:#fff;letter-spacing:1px;font-size:16px;">CareerRozgar</p>
       <p style="color:#fff;">
         Help in recommendation to filtered list of career opportunities in the form of jobs or internships based on profile & job description fit.       </p>
  
   </div>

   <div class="col-xs-12" style="height:auto;width:100%;margin-top:20px;background-color:rgb(0,167,157);padding-left:33px;padding-right:51px;padding-top:12px;padding-bottom:12px;">

        <img style="width:175px;height:195px;float:left;" src="{{cdnHost}}/assets/images/product/Counselling.png" alt="image">
        <p style="font-weight:700;color:#fff;letter-spacing:1px;font-size:16px;">CareerPramarsh</p>
       <p style="color:#fff;">
         Personalized data driven approach to career counselling with 1:1 meetings with counsellors & experts.       </p>
    
   </div>
   
   <div class="col-xs-12" style="height:auto;width:100%;margin-top:20px;background-color:rgb(0,167,157);padding-left:33px;padding-right:51px;padding-top:12px;padding-bottom:12px;">

        <img style="width:175px;height:195px;float:left;" src="{{cdnHost}}/assets/images/product/Alumini.png" alt="image">
        <p style="font-weight:700;color:#fff;letter-spacing:1px;font-size:16px;">CareerSampark (Mentor)</p>
       <p style="color:#fff;">
         To help you connect with the right mentor, experienced professional, alumni or influencer in your choice of career.       </p>
 
   </div>

   <div class="col-xs-12" style="height:auto;width:100%;margin-top:20px;background-color:rgb(0,167,157);padding-left:33px;padding-right:51px;padding-top:12px;padding-bottom:12px;">

        <img style="width:175px;height:195px;float:left;" src="{{cdnHost}}/assets/images/product/Psychometric.png" alt="image">
        <p style="font-weight:700;color:#fff;letter-spacing:1px;font-size:16px;">CareerPariksha (Test)</p>
       <p style="color:#fff;">
         Comprehensive psychometric aptitude assessment test comprising of 5-Dimensions of interest, personality, aptitude, skills & work styles.
       </p>
   
   </div>

   <div class="col-xs-12" style="height:auto;width:100%;margin-top:20px;background-color:rgb(0,167,157);padding-left:33px;padding-right:51px;padding-top:12px;padding-bottom:12px;">

        <img style="width:175px;height:195px;float:left;" src="{{cdnHost}}/assets/images/product/Inspirational_lectures.png" alt="image">
        <p style="font-weight:700;color:#fff;letter-spacing:1px;font-size:16px;">CareerPrerna</p>
       <p style="color:#fff;">
         Conduct official guest lectures or seminars with our experienced speakers who have domain expertise.       </p>
   
   </div>

   <div class="col-xs-12" style="height:auto;width:100%;margin-top:20px;background-color:rgb(0,167,157);padding-left:33px;padding-right:51px;padding-top:12px;padding-bottom:12px;">

        <img style="width:175px;height:195px;float:left;" src="{{cdnHost}}/assets/images/product/Career_options.png" alt="image">
        <p style="font-weight:700;color:#fff;letter-spacing:1px;font-size:16px;">CareerPath</p>
       <p style="color:#fff;">
         Utilize our products to help you visualize your career progression and future career options based on your profile and goals.       </p>
   
   </div>
 
   <div class="col-xs-12"  style="height:auto;width:100%;margin-top:20px;background-color:rgb(0,167,157);padding-left:33px;padding-right:51px;padding-top:12px;padding-bottom:12px;">
        
   <a href="products/globalvidhya"><img style="width:175px;height:195px;float:left;" src="{{cdnHost}}/assets/images/product/geography.png" alt="image"></a>
      <p style="font-weight:700;color:#fff;letter-spacing:1px;font-size:16px;"> GlobalVidhya</p>
     <p style="color:#fff;">
      Looking to study in Abroad or in India, you are at the right place to get unbiased counselling. Professionals who are from top universities will be guiding you to provide end to end consultancy for 100% selection & guarantee program.
 </div>

</div>




<div class="desktop">
<div class="row products-row">

    <div class="col-md-6 product-card col-xs-12" style="border-right:20px solid #fff;">

       <div style="height:100%;width:30%;float:left;padding-top:45px;">
          <img style="width:175px;height:195px;" src="{{cdnHost}}/assets/images/product/Profile_builder.png" alt="image">
       </div>
       <div style="width:70%;float:right;height:100%;padding-right:10px;padding-left:10px;padding-top:65px;
       padding-bottom:25px;">
          <div style="width:100%;text-align:center;"><h5 style="color:#fff;font-weight:800;">CareerPatri</h5></div>
          <div style="width:100%;padding-left:27px;padding-right:27px;">
           <p style="color:#fff;"> 
            Custom profile builder based on users past and current experiences in the form of Resume, CV, SOP etc.          </div>
       </div>

    </div>

  <div class="col-md-6 product-card"  style="border-left:20px solid #fff;">
      <div style="height:50%;width:30%;float:left;padding-top:45px;">
          <img style="width:160px;height:170px;" src="{{cdnHost}}/assets/images/product/Guidance.png" alt="image">
       </div>
       <div style="width:70%;float:right;height:100%;padding-right:10px;padding-left:10px;padding-top:65px;
       padding-bottom:25px;">
          <div style="width:100%;text-align:center;"><h5 style="color:#fff;font-weight:800;">CareerDisha (counselling)</h5></div>
          <div style="width:100%;padding-left:27px;padding-right:27px;">
           <p style="color:#fff;">
            Mentorship and lifetime guidance connecting with best fit expert having experience in the domain.
           </p>
          </div>
       </div>
  </div>


</div>

<div class="row products-row">

    <div class="col-md-6 product-card" style="border-right:20px solid #fff;">

       <div style="height:100%;width:30%;float:left;padding-top:45px;">
          <img style="width:175px;height:195px;" src="{{cdnHost}}/assets/images/product/job.png" alt="image">
       </div>
       <div style="width:70%;float:right;height:100%;padding-right:10px;padding-left:10px;padding-top:65px;
       padding-bottom:25px;">
          <div style="width:100%;text-align:center;"><h5 style="color:#fff;font-weight:800;">CareerRozgar</h5></div>
          <div style="width:100%;padding-left:27px;padding-right:27px;">
           <p style="color:#fff;"> 
            Help in recommendation to filtered list of career opportunities in the form of jobs or internships based on profile & job description fit.           </p>
          </div>
       </div>

    </div>

  <div class="col-md-6 product-card"  style="border-left:20px solid #fff;">
      <div style="height:100%;width:30%;float:left;padding-top:45px;">
          <img style="width:175px;height:195px;" src="{{cdnHost}}/assets/images/product/Counselling.png" alt="image">
       </div>
       <div style="width:70%;float:right;height:100%;padding-right:10px;padding-left:10px;padding-top:65px;
       padding-bottom:25px;">
          <div style="width:100%;text-align:center;"><h5 style="color:#fff;font-weight:800;">CareerPramarsh</h5></div>
          <div style="width:100%;padding-left:27px;padding-right:27px;">
           <p style="color:#fff;">
            Personalized data driven approach to career counselling with 1:1 meetings with counsellors & experts.           </p>
          </div>
       </div>
  </div>

</div>

<div class="row products-row">

    <div class="col-md-6 product-card" style="border-right:20px solid #fff;">

       <div style="height:100%;width:30%;float:left;padding-top:45px;">
          <img style="width:175px;height:195px;" src="{{cdnHost}}/assets/images/product/Alumini.png" alt="image">
       </div>
       <div style="width:70%;float:right;height:100%;padding-right:10px;padding-left:10px;padding-top:65px;
       padding-bottom:25px;">
          <div style="width:100%;text-align:center;"><h5 style="color:#fff;font-weight:800;">CareerSampark (Mentor)</h5></div>
          <div style="width:100%;padding-left:27px;padding-right:27px;">
           <p style="color:#fff;"> 
            To help you connect with the right mentor, experienced professional, alumni or influencer in your choice of career.           </p>
          </div>
       </div>

    </div>

  <div class="col-md-6 product-card"  style="border-left:20px solid #fff;">
      <div style="height:100%;width:30%;float:left;padding-top:45px;">
          <img style="width:175px;height:195px;" src="{{cdnHost}}/assets/images/product/Psychometric.png" alt="image">
       </div>
       <div style="width:70%;float:right;height:100%;padding-right:10px;padding-left:10px;padding-top:65px;
       padding-bottom:25px;">
          <div style="width:100%;text-align:center;"><h5 style="color:#fff;font-weight:800;">CareerPariksha (Test)</h5></div>
          <div style="width:100%;padding-left:27px;padding-right:27px;">
           <p style="color:#fff;">
            Comprehensive psychometric aptitude assessment test comprising of 5-Dimensions of interest, personality, aptitude, skills & work styles.           </p>
          </div>
       </div>
  </div>

</div>

<div class="row products-row">

    <div class="col-md-6 product-card" style="border-right:20px solid #fff;">

       <div style="height:100%;width:30%;float:left;padding-top:45px;">
          <img style="width:175px;height:195px;" src="{{cdnHost}}/assets/images/product/Inspirational_lectures.png" alt="image">
       </div>
       <div style="width:70%;float:right;height:100%;padding-right:10px;padding-left:10px;padding-top:65px;
       padding-bottom:25px;">
          <div style="width:100%;text-align:center;"><h5 style="color:#fff;font-weight:800;">CareerPrerna</h5></div>
          <div style="width:100%;padding-left:27px;padding-right:27px;">
           <p style="color:#fff;"> 
            Conduct official guest lectures or seminars with our experienced speakers who have domain expertise.           </p>
          </div>
       </div>

    </div>

  <div class="col-md-6 product-card"  style="border-left:20px solid #fff;">
      <div style="height:100%;width:30%;float:left;padding-top:45px;">
          <img style="width:175px;height:195px;" src="{{cdnHost}}/assets/images/product/Career_options.png" alt="image">
       </div>
       <div style="width:70%;float:right;height:100%;padding-right:10px;padding-left:10px;padding-top:65px;
       padding-bottom:25px;">
          <div style="width:100%;text-align:center;"><h5 style="color:#fff;font-weight:800;">CareerPath</h5></div>
          <div style="width:100%;padding-left:27px;padding-right:27px;">
           <p style="color:#fff;">
            Utilize our products to help you visualize your career progression and future career options based on your profile and goals.           </p>
          </div>
       </div>
  </div>
</div>

<div class="row products-row">

  <div class="col-md-6 product-card" style="border-right:20px solid #fff;"><a href="products/globalvidhya">
   <div style="height:100%;width:30%;float:left;padding-top:45px; padding-left: 10px;">
       <img style="width:175px;height:195px;" src="{{cdnHost}}/assets/images/product/geography.png" alt="image">
    </div>
    <div style="width:70%;float:right;height:100%;padding-right:10px;padding-left:10px;padding-top:65px;
    padding-bottom:25px;">
       <div style="width:100%;text-align:center;"><h5 style="color:#fff;font-weight:800;">GlobalVidhya</h5></div>
       <div style="width:100%;padding-left:27px;padding-right:27px;">
        <p style="color:#fff;">
         Looking to study in Abroad or in India, you are at the right place to get unbiased counselling. Professionals who are from top universities will be guiding you to provide end to end consultancy for 100% selection & guarantee program.       </div>

    </div>
    </a>
</div>



</div>

</div>