
.fill-button{
  border:0px;
  background: none;
  background-color:rgb(0,167,157);
  color:#fff;
  font-weight: bold;
  width: 180px;
  height: 40px;
  font-size: 19px;
  border-radius:10px;
}
.upload-button{
    border:0px;
  background: none;
  background-color:rgb(0,167,157);
  color:#fff;
  font-weight: 600;
  width: 210px;
  height: 40px;
  font-size: 20px;
  border-radius:10px;
}
.progress{
  height:35px;
  width:250px;
  border: 2px solid rgb(0,167,157);
}
.progress-bar{
  height: 100%;
  width: 0%;
  background-color: rgb(0,167,157);
}
.progess-circle{
   border-radius: 50%;
   background-color: rgb(0,167,157);
   width:30px;
   height:30px;
}

@media screen and (min-width: 601px) and (max-width:1500px) { 
  #upload-label{
      margin-right: 123px;
  }
  
}

@media screen and (min-width: 300px) and (max-width:700px) { 
 .long-bar{
   display: none;
 }
  
}
.quiz-button:hover{
  background-color: rgb(0,167,157);
  }
  
  
  
  
  .prev-button{
     background:none;
     border:none;
     color:rgb(70,84,95);
     font-weight:800;
  }
  .next-button{
    background:none;
    border:none;
    color:rgb(0,167,157);
    font-weight:800;
  }
  .submit-button{
    background:none;
    border:none;
    color:rgb(0,167,157);
    font-weight:800;
    margin-right: 11px;
  }
  .submit-button:hover{
    background-color: rgb(0,167,157);
    color: #fff;
  }


  @media screen and (min-width: 800px) and (max-width:1500px) { 
    .info-row{
         width: 100%;
         text-align: left;
         margin-right: 20%;

    }
   
     
   }



   @media screen and (min-width: 200px) and (max-width:600px) { 
    .inp{
      width: 190px;
    }
   
     
   }