<div class="blog-pic">
  
</div>

<div class="container">
<div class="row">
  <div class="card2 col-md-4" *ngFor="let blog of blogs | paginate:{itemsPerPage: 6, currentPage:n}">
    <div class="card" style="width:auto; height: 99%; " (click)="setIdToStorage(blog._id)"  >
    <a href="/blogs/{{blog['blog_url']}}" (click)="scroll();setTitle('Career as Corporate Trainer | Training | School Teaching | Customer Support')" style="text-decoration:none;" ><img class="card-img-top" src="https://dashboard.careernaksha.com{{blog.blog_image.url}}" alt="Card image" style="width:100%;"></a>
      <div class="card-body">
      <a href="/blogs/{{blog['blog_url']}}" (click)="scroll();setTitle(' Career as Corporate Trainer | Training | School Teaching | Customer Support')" style="text-decoration:none;" ><h4 class="card-title" style="color:rgb(0,167,157);font-weight:800;font-size:23px;">  {{blog["blog_title"]}}</h4></a>

        <p class="card-text" > <a style="text-decoration: none; color: black;" href="/blogs/{{blog['blog_url']}}" (click)="scroll();setTitle('Career as Corporate Trainer | Training | School Teaching | Customer Support

          ')">{{blog["blog_fdetail"]}}</a></p>
       <!----<a href="detailblog/{{blog['id']}}/{{blog['blog_url']}}" (click)="scroll();setTitle('Career as Corporate Trainer | Training | School Teaching | Customer Support

')" class="btn read-more" >Read More</a>-->
            </div>
          </div>
        </div>
      </div>
      <pagination-controls (pageChange)="n=$event" class="pagination"></pagination-controls>
    </div>
  
    
