.blog-pic{
    height: 400px;
    width: 100%;
    background-image: url("https://d2t0yxygbqzqe9.cloudfront.net/assets/images/Blog.png");
    background-position: center;
    margin-bottom: 30px;
   
    
}
.read-more{
    background-color: rgb(0,167,157);
    font-weight: 600;
    font-size: 21px;
    color:#fff;
    width:190px;
}
.food-blog{
    height: 700px;
}
.food-button{
    margin-top:77px;
}

.container{
    width: auto;
    height: auto;
}


@media screen and (min-width: 300px) and (max-width:700px) { 
   .blog-pic{
       width: 80%;
       background-repeat: no-repeat;
       height: 302px;
       background-size: 100%;
       margin-bottom: 0px;
       contain: layout;
       background-position: left;
   }
   
  }