<!--<div class="mt-5">
<h1>This is blogs</h1>
  <div *ngFor="let blog of blogs">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Title:-{{blog["Blog_Title"]}}</h5>
        <img src="http://localhost:1337{{blog.blog_image.url}}" style="height: 100px;widows: 100px;;" />
      </div>
      <button class="text-center btn btn-info" (click)="getDetailId(blog._id)">Read More</button>
    </div>
  </div>
</div>-->
<div class="row blog-pic"> 

</div>


<div class="container">
<div class="row" style="margin-bottom:20px;margin-top: 60px;" *ngFor="let blog of blogs">

  <div class="col-md-6" >
    <div class="card" style="width:100%;" >
    <a href="/blogs/{{blog['blog_url']}}" (click)="scroll();setTitle('Career as Corporate Trainer | Training | School Teaching | Customer Support')" style="text-decoration:none;" ><img class="card-img-top" src="https://dashboard.careernaksha.com{{blog.blog_image.url}}" alt="Card image" style="width:100%;"></a>
      <div class="card-body">
      <a href="/blogs/{{blog['blog_url']}}" (click)="scroll();setTitle(' Career as Corporate Trainer | Training | School Teaching | Customer Support')" style="text-decoration:none;" ><h4 class="card-title" style="color:rgb(0,167,157);font-weight:800;font-size:27px;">  {{blog["blog_title"]}}</h4></a>

        <p class="card-text"> {{blog["blog_fdetail"]}}</p>
        <a href="detailblog/{{blog['blog_url']}}" (click)="scroll();setTitle('Career as Corporate Trainer | Training | School Teaching | Customer Support

')" class="btn read-more" >Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>