

<div class="container gallery-container Events">
  <div class="tz-gallery">
    <div class="row">
      
      <div class="col-sm-6 col-md-4" *ngFor="let school of schools">
        <div class="column">
            <div class="thumbnail" >
              <a class="lightbox">
                <img src="{{school.sh_image}}" alt="Upcoming Events" width="100%" height="auto">
             </a>
              
              <div class="caption">
                <h5>{{school["sh_title"]}}</h5>
                <p>{{school["sh_detail"]}}</p>
              </div>
            </div>
          </div>
      </div>

    </div>
  </div>
</div>