

<div class="container gallery-container Events">
  <div class="tz-gallery">
    <div class="row">
      
      
      <div class="col-sm-6 col-md-4">
        <div class="column">
            <div class="thumbnail" style="width: 18rem;">
              <a class="lightbox" href="{{cdnHost}}/assets/galleryPhotos/Schools/Bhavan school/Bharatiya Vidya Bhavan's Vallabhram Mehta Public School.jpeg">
                <img src="{{cdnHost}}/assets/galleryPhotos/Schools/Bhavan school/Bharatiya Vidya Bhavan's Vallabhram Mehta Public School.jpeg" alt="BHS Bagikhana" width="100%" height="auto">
              </a>
              <div class="caption">
                <h5>Bharatiya Vidya Bhavan's Vallabhram Mehta Public School</h5>
                <p>Let noble thoughts come to us from every side - Rigveda
                  Talking about new age careers for students beyond 2020 @nimish_gopal.
                  Science | Commerce | Arts, Seminar at Vadodara for 11th & 12th students both science and commerce.</p>
              </div>
            </div>
          </div>
      </div>

          
        <div class="col-sm-6 col-md-4">
          <div class="column">
            <div class="thumbnail">
              <a class="lightbox" href="{{cdnHost}}/assets/galleryPhotos/Schools/Billabong pictures/FullSizeRender(3).jpg">
                <img src="{{cdnHost}}/assets/galleryPhotos/Schools/Billabong pictures/FullSizeRender(3).jpg" alt="Billabong pictures" width="100%" height="auto">
              </a>
              <div class="caption">
                <h5>Billabong High International School</h5>
                <p>The goal and objective of the career seminar was to inspire and motivate students about entrepreneurship & startups. Speaker of the day was Nimish gopal talked about his startup journey and goals of career.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="column">
              <div class="thumbnail">
                <a class="lightbox" href="{{cdnHost}}/assets/galleryPhotos/Schools/Shannen the world school/FullSizeRender(4).jpg">
                  <img src="{{cdnHost}}/assets/galleryPhotos/Schools/Shannen the world school/FullSizeRender(4).jpg" alt="Shannen the world school" width="100%" height="auto">
                </a>
                <div class="caption">
                  <h5>Shannen the world school</h5>
                  <p>Due to lack of awareness and limited exposure, children today are restricted to choose the same fields as their parents or peers choose. CareerNaksha is on a mission to change this. We gave another seminar at Shannen School, Vadodara (JC Group), about how there are numerous different careers to opt for.</p>
                </div>
              </div>
            </div>
          </div>
      
        <div class="col-sm-6 col-md-4">
          <div class="column">
            <div class="thumbnail">
              <a class="lightbox" href="{{cdnHost}}/assets/galleryPhotos/Schools/BHS Bagikhana/FullSizeRender.jpg">
                <img src="{{cdnHost}}/assets/galleryPhotos/Schools/BHS Bagikhana/FullSizeRender.jpg" alt="BHS Bagikhana" width="100%" height="auto">
              </a>
              <div class="caption">
                <h5>BHS Bagikhana</h5>
                <p>schools are facing acute problem of students neglecting school teaching and joining tuitions or coaching institutes.Seminar at Baroda High School, Bagikhana, was focused around opportunities in science apart from engineering & doctor.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="column">
              <div class="thumbnail">
                <a class="lightbox" href="{{cdnHost}}/assets/galleryPhotos/Schools/Kendriya Vidyalaya EME/KV EME.jpeg">
                  <img src="{{cdnHost}}/assets/galleryPhotos/Schools/Kendriya Vidyalaya EME/KV EME.jpeg" alt="BHS Bagikhana" width="100%" height="auto">
                </a>
                <div class="caption">
                  <h5>Kendriya Vidyalaya, EME Vadodara</h5>
                  <p>Our seminar today focused on 10th students of Kendriya Vidhyalaya, E.M.E, Vadodara, Vadodara, who were not aware about various fields in science, commerce and arts after school.
                  </p>
                </div>
              </div>
            </div>
          </div>

        <div class="col-sm-6 col-md-4">
        <div class="column">
          <div class="thumbnail">
            <a class="lightbox" href="{{cdnHost}}/assets/galleryPhotos/Schools/BHS ONGC/FullSizeRender(3).jpg">
              <img src="{{cdnHost}}/assets/galleryPhotos/Schools/BHS ONGC/FullSizeRender(3).jpg" alt="BHS ONGC" width="100%" height="auto">
            </a>
            <div class="caption">  
              <h5>BHS ONGC</h5>
              <p>Our continued series of seminars, today we attracted young students from middle school, and got an opportunity to address enthusiastic & highly ambitious students of 8th standard at BHS ONGC.
              </p>
            </div>
          </div>
        </div>
          </div>
      
        <div class="col-sm-6 col-md-4">
        <div class="column">
          <div class="thumbnail">
            <a class="lightbox" href="{{cdnHost}}/assets/galleryPhotos/Schools/Baroda Public School/FullSizeRender(2).jpg">
              <img src="{{cdnHost}}/assets/galleryPhotos/Schools/Baroda Public School/FullSizeRender(2).jpg" alt="Baroda Public School" width="100%" height="auto">
            </a>
            <div class="caption">  
              <h5>Baroda Public School</h5>
              <p>careernaksha As we are rapidly scaling our operations in Vadodara, CareerNaksha conducted another seminar for 11th & 12th arts, commerce and science students at Baroda Public School - BPS Baroda Public School 2.</p>
            </div>
          </div>
        </div>
          </div>

        <div class="col-sm-6 col-md-4">
        <div class="column">
          <div class="thumbnail">
            <a class="lightbox" href="{{cdnHost}}/assets/galleryPhotos/Schools/Kendriya Vidyalaya, Harni/photo3.jpg">
              <img src="{{cdnHost}}/assets/galleryPhotos/Schools/Kendriya Vidyalaya, Harni/photo3.jpg" alt="Kendriya Vidyalaya, Harni" width="100%" height="auto">
            </a>
            <div class="caption">
              <h5>Kendriya Vidyalaya, Harni</h5>
              <p>10th standard students in schools are so naive that they are not aware of consequences of stream selection (science, commerce or arts). First time in their life they have to pick an option or career path choice is given to them.
              </p>
            </div>
          </div>
        </div>
          </div>
      
      <div class="col-sm-6 col-md-4">
        <div class="column">
            <div class="thumbnail">
              <a class="lightbox" href="{{cdnHost}}/assets/galleryPhotos/Schools/KV AFS Darjipura/photo2.jpg">
                <img src="{{cdnHost}}/assets/galleryPhotos/Schools/KV AFS Darjipura/photo2.jpg" alt="KV AFS Darjipura" width="100%" height="auto">
              </a>
              <div class="caption">  
                <h5>KV AFS Darjipura</h5>
                <p>In this competitive world, students need awareness about the market scenario, they need a vision and direction so that they can choose the right career paths after their high school (10th standard)
                  CareerNaksha gave a seminar in KV AFS Darjipura for 9-10th students and talked about science, commerce and arts.
                  </p>
              </div>
            </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="column">
            <div class="thumbnail">
              <a class="lightbox" href="{{cdnHost}}/assets/galleryPhotos/Schools/Kendriya Vidyalaya, ONGC/photo1.jpg">
                <img src="{{cdnHost}}/assets/galleryPhotos/Schools/Kendriya Vidyalaya, ONGC/photo1.jpg" alt="Kendriya Vidyalaya, ONGC" width="100%" height="auto">
              </a>
              <div class="caption">  
                <h5>Kendriya Vidyalaya, ONGC</h5>
                <p>Today our seminar was conducted at KV ONGC Vadodara, it was focused on different career opportunities after 12th in science (both maths or biology).</p>
              </div>
            </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="column">
            <div class="thumbnail">
              <a class="lightbox" href="{{cdnHost}}/assets/galleryPhotos/Schools/MC High School/photo2.jpg">
               <img src="{{cdnHost}}/assets/galleryPhotos/Schools/MC High School/photo2.jpg" alt="MC High School" width="100%" height="auto">
              </a>
              <div class="caption">  
                <h5>MC High School</h5>
                <p>When you are operating on your own terms - there comes freedom. We founders at CareerNaksha believe that social work is equally important along with our startup business.
                </p>
              </div>
            </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
          <div class="column">
              <div class="thumbnail" style="width: 18rem;">
                <a class="lightbox" href="{{cdnHost}}/assets/galleryPhotos/Schools/University Experimental School/experimental school.jpeg">
                  <img src="{{cdnHost}}/assets/galleryPhotos/Schools/University Experimental School/experimental school.jpeg" alt="Baroda Public School" width="100%" height="auto">
                </a>
                <div class="caption">  
                  <h5>University Experimental School</h5>
                  <p>Another seminar regarding career options in commerce after 11th & 12th. How to choose the right degree/course/college from many options (like BBA, BCom, CA, CS, CFA, MBA) was taken by our Founder Nimish Gopal at University Experimental School, which comes under The Maharaja Sayajirao University of Baroda University.</p>
                </div>
             </div>
           </div>
      </div>

    </div>
  </div>
</div>