

<div class="container gallery-container Events">
  <div class="tz-gallery">
    <div class="row">
      
      
      <div class="col-sm-6 col-md-4">
        <div class="column">
            <div class="thumbnail" style="width: 330px;">
              <a class="lightbox" href="{{cdnHost}}/assets/galleryPhotos/jobFair/rojgar.jpeg">
                <img src="{{cdnHost}}/assets/galleryPhotos/jobFair/rojgar.jpeg" alt="jobFair" width="100%" height="auto">
              </a>
              <div class="caption">
                <h5>Job fair</h5>               
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>